<!-- Search input -->
<section>
  <h1>Search</h1>

  <!-- TODO(M2): Create a text input for the search term. -->
  <!-- TODO(M2): Create a search button that calls the fetch method on the
                 component instance. -->
</section>

<!-- Search results -->
<div *ngIf="videoList">
  <!-- TODO(M2): Show the total number of search results. -->
  <!-- TODO(M2): Show the description for each search result. -->

  <!-- TODO(M4): Render a search-result-card for each video. Use ng-repeat and
                 property binding. Use this instead of rendering the description
                 for each search result from Milestone 2. -->
</div>