<!-- Search input -->
<section>
  <h1>Search</h1>
  <input type="text"/>
  <button (click)="fetch()">Fetch</button>
</section>

<!-- Search results -->
<div *ngIf="videoList">
  Total Results: {{videoList.length}}
  <li *ngFor="let video of videoList">
    Description: {{video.description}}
  </li>

  <!-- TODO(M4): Render a search-result-card for each video. Use ng-repeat and
                 property binding. Use this instead of rendering the description
                 for each search result from Milestone 2. -->
</div>